@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --green: #0e76fd;
  --black: #22262A;
  --white: #F2F5F7;
}

html,
body {
  font-family: "Inclusive Sans" !important;
}

.text-green {
  color: var(--green);
}

.text-black {
  color: var(--black);
}

.bg-lines {
  background: url("/wave-lines.svg") no-repeat #fcfcfd;
  background-size: cover;
}

.bg-blue {
  background-color: var(--green);
}

.bg-white {
  background-color: #fcfcfd;
}

input::outline {
  color: var(--green) !important;
}

.bg-success {
  background-color: #3cbd69;
}