@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --green: #3cbd68;
}

.text-green {
  color: var(--green);
}

.bg-lines {
  background: url("/wave-lines.svg") no-repeat 100% 100%, #fcfcfd;
}